Chapter 6/AssignServiceRequest/Microsoft.Flow/flows/e5782b4d-8ff9-48a4-86f1-f016461a0746/definition.json
{"name":"71b63e08-e840-4f39-80f1-d339c533bf32","id":"/providers/Microsoft.Flow/flows/71b63e08-e840-4f39-80f1-d339c533bf32","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Assign Service Request","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"a0af0621-143a-4d63-9cad-5ad3a3e1295d","type":"User","tenantId":"fb7cb6fd-9f0b-4c6f-8018-dc7c8634f26d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-02-28T08:00:46.0170275Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://cloudhadi.sharepoint.com/sites/Workplace","table":"9d747ddc-d7e4-4a47-8d69-ef7be8b84d3d"},"authentication":"@parameters('$authentication')"}}},"actions":{"Update_Assigned_To":{"runAfter":{"Set_service_user_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://cloudhadi.sharepoint.com/sites/Workplace","parameters/method":"POST","parameters/uri":"_api/web/lists/getByTitle('Service Portal')/items(@{triggerOutputs()?['body/ID']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n\n\"type\": \"SP.Data.ServicePortalItem\"\n},\n\"RequestAssignedToId\": \"@{variables('serviceUserID')}\"\n}"},"authentication":"@parameters('$authentication')"}},"Get_service_user_ID":{"runAfter":{"Configure_service_user_email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://cloudhadi.sharepoint.com/sites/Workplace","parameters/method":"GET","parameters/uri":"_api/web/siteUsers/getByEmail('@{variables('serviceUserEmail')}')"},"authentication":"@parameters('$authentication')"}},"Configure_service_user_email":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"serviceUserEmail","type":"string","value":"serviceuser@cloudhadi.onmicrosoft.com"}]}},"Set_service_user_ID":{"runAfter":{"Get_service_user_ID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"serviceUserID","type":"integer","value":"@body('Get_service_user_ID')?['d']['id']"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a16093be7c5145bd88c674fb91fbea29","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}